/* Start coding here */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.dev2-hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  
  padding: 50px;
}

.dev2-box1 , .dev2-box2 , .dev2-box3 {
  border-radius: 10px;
  width: 387px;
  height: 272px;
}

.dev2-box1 {
  background-color: #d7e5f6;
}

.dev2-box2 {
  background-color: #d8e0fc;
}
.dev2-box3 {
  background-color: #e8dcf6;
}

.dev2-img{
    width: 60px;
    height: 60px;
    margin: 20px 0 5px 20px;
}

.dev2-h3{
    margin: 10px 0 10px 10px;
    font-size: 24px;
    padding: 24px 0  0 10px;
  }

.dev2-p{
    margin: 20px 0 30px 10px;
    font-size: 16px;
    padding: 5px 0  0 10px;
}
