/* Start coding here */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #e0e0ed;
  width: 100vw;
  height: 100vh;
}

.dev1-nav-bar {
  background-color: white;
  border: 4px solid #e0e0ed;
  height: 128px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 99px;
  padding: 12px 80px;
  border: 24px solid #e0e0ed;
  
}

.dev1-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  color: #1A1A2C;
}

.dev1-nav-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.last {
  position: relative;
  display: inline-block;
}

.last::after {
  content: "";
  width: 8px;
  height: 8px;
  background: #5A4BFF;
  border-radius: 50%;
  position: absolute;

  top: 6px;     /* adjust height */
  left: 115%;
  transform: translateX(-50%);
}

#dev1-home {
  color : #5E44FF;
  text-decoration: underline;
}

.dev1-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.dev1-text1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 40px;
  background: rgba(86, 58, 255, 0.1);
  border-radius: 999px;
  color: #5E44FF;
  font-weight: 100;
}

.dev1-text2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.dev1-text2 h1 {
  font-size: 80px;
}

.dev1-text2 span {
  font-size: 80px;
  color: #5E44FF;
}

.dev1-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 36px;
  gap: 6px;
  width: 187px;
  height: 56px;
  background: #1A1A2C;
  border-radius: 16px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.dev2-hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  
  padding: 50px;
}

.dev2-box1 , .dev2-box2 , .dev2-box3 {
  border-radius: 10px;
  width: 387px;
  height: 272px;
}

.dev2-box1 {
  background-color: #d7e5f6;
}

.dev2-box2 {
  background-color: #d8e0fc;
}
.dev2-box3 {
  background-color: #e8dcf6;
}

.dev2-img{
    width: 60px;
    height: 60px;
    margin: 20px 0 5px 20px;
}

.dev2-h3{
    margin: 10px 0 10px 10px;
    font-size: 24px;
    padding: 24px 0  0 10px;
  }

.dev2-p{
    margin: 20px 0 30px 10px;
    font-size: 16px;
    padding: 5px 0  0 10px;
}

.dev3-contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1,199px;
  height: 666px;
  border-radius: 24px;
  padding: 80px 120px;
  gap: 40px;
  background-color: #FFFFFF 70%;
}

.dev3-contact-title {
  flex-basis: 261px 48px;
  font-size: 44px;
  font-weight: 700;
  font-style: bold;
  line-height: 48px;
  letter-spacing: -2%;
  text-align: center;
  color: #1A1A2C;
}

.dev3-input-field-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 589px;
  height: 322px;
  gap: 20px;
}

.dev3-input-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  height: 76px
}

.dev3-input-text-area {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  height: 76px;
}
.dev3-input-text-area {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  height: 130px;
}